<!DOCTYPE html>
<html lang="zh-CN">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/user.css' %}">
	<title>欢迎使用图书管理系统</title>
</head>

<body>
	{% include 'include/navbar.html' %}
	<div class="row blank"></div>
	<div class="row labels" style="margin-top: 10px">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<div class="row labels_title">
				全部分类
			</div>
			<div class="">
				<div class="">
					<h4>文学 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '小说' 1 %}>小说</a></td>
								<td><a href={% url 'tag' '外国文学' 1 %}>外国文学</a></td>
								<td><a href={% url 'tag' '文学' 1 %}>文学</a></td>
								<td><a href={% url 'tag' '随笔' 1 %}>随笔</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '中国文学' 1 %}>中国文学</a></td>
								<td><a href={% url 'tag' '经典' 1 %}>经典</a></td>
								<td><a href={% url 'tag' '日本文学' 1 %}>日本文学</a></td>
								<td><a href={% url 'tag' '散文' 1 %}>散文</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '村上春树' 1 %}>村上春树</a></td>
								<td><a href={% url 'tag' '诗歌' 1 %}>诗歌</a></td>
								<td><a href={% url 'tag' '童话' 1 %}>童话</a></td>
								<td><a href={% url 'tag' '杂文' 1 %}>杂文</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '王小波' 1 %}>王小波</a></td>
								<td><a href={% url 'tag' '古典文学' 1 %}>古典文学</a></td>
								<td><a href={% url 'tag' '儿童文学' 1 %}>儿童文学</a></td>
								<td><a href={% url 'tag' '张爱玲' 1 %}>张爱玲</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '名著' 1 %}>名著</a></td>
								<td><a href={% url 'tag' '余华' 1 %}>余华</a></td>
								<td><a href={% url 'tag' '当代文学' 1 %}>当代文学</a></td>
								<td><a href={% url 'tag' '钱钟书' 1 %}>钱钟书</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '鲁迅' 1 %}>鲁迅</a></td>
								<td><a href={% url 'tag' '外国名著' 1 %}>外国名著</a></td>
								<td><a href={% url 'tag' '诗词' 1 %}>诗词</a></td>
								<td><a href={% url 'tag' '茨威格' 1 %}>茨威格</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '米兰·昆德拉' 1 %}>米兰·昆德拉</a></td>
								<td><a href={% url 'tag' '杜拉斯' 1 %}>杜拉斯</a></td>
								<td><a href={% url 'tag' '港台' 1 %}>港台</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<h4>流行 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '漫画' 1 %}>漫画</a></td>
								<td><a href={% url 'tag' '绘本' 1 %}>绘本</a></td>
								<td><a href={% url 'tag' '推理' 1 %}>推理</a></td>
								<td><a href={% url 'tag' '青春' 1 %}>青春</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '言情' 1 %}>言情</a></td>
								<td><a href={% url 'tag' '科幻' 1 %}>科幻</a></td>
								<td><a href={% url 'tag' '东野圭吾' 1 %}>东野圭吾</a></td>
								<td><a href={% url 'tag' '悬疑' 1 %}>悬疑</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '武侠' 1 %}>武侠</a></td>
								<td><a href={% url 'tag' '奇幻' 1 %}>奇幻</a></td>
								<td><a href={% url 'tag' '韩寒' 1 %}>韩寒</a></td>
								<td><a href={% url 'tag' '日本漫画' 1 %}>日本漫画</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '耽美' 1 %}>耽美</a></td>
								<td><a href={% url 'tag' '亦舒' 1 %}>亦舒</a></td>
								<td><a href={% url 'tag' '三毛' 1 %}>三毛</a></td>
								<td><a href={% url 'tag' '推理小说' 1 %}>推理小说</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '网络小说' 1 %}>网络小说</a></td>
								<td><a href={% url 'tag' '安妮宝贝' 1 %}>安妮宝贝</a></td>
								<td><a href={% url 'tag' '郭敬明' 1 %}>郭敬明</a></td>
								<td><a href={% url 'tag' '穿越' 1 %}>穿越</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '金庸' 1 %}>金庸</a></td>
								<td><a href={% url 'tag' '轻小说' 1 %}>轻小说</a></td>
								<td><a href={% url 'tag' '阿加莎·克里斯蒂' 1 %}>阿加莎·克里斯蒂</a></td>
								<td><a href={% url 'tag' '几米' 1 %}>几米</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '魔幻' 1 %}>魔幻</a></td>
								<td><a href={% url 'tag' '青春文学' 1 %}>青春文学</a></td>
								<td><a href={% url 'tag' '张小娴' 1 %}>张小娴</a></td>
								<td><a href={% url 'tag' '幾米' 1 %}>幾米</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '科幻小说' 1 %}>科幻小说</a></td>
								<td><a href={% url 'tag' 'J.K.罗琳' 1 %}>J.K.罗琳</a></td>
								<td><a href={% url 'tag' '高木直子' 1 %}>高木直子</a></td>
								<td><a href={% url 'tag' '古龙' 1 %}>古龙</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '沧月' 1 %}>沧月</a></td>
								<td><a href={% url 'tag' '落落' 1 %}>落落</a></td>
								<td><a href={% url 'tag' '张悦然' 1 %}>张悦然</a></td>
								<td><a href={% url 'tag' '校园' 1 %}>校园</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<h4>文化 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '历史' 1 %}>历史</a></td>
								<td><a href={% url 'tag' '心理学' 1 %}>心理学</a></td>
								<td><a href={% url 'tag' '哲学' 1 %}>哲学</a></td>
								<td><a href={% url 'tag' '传记' 1 %}>传记</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '文化' 1 %}>文化</a></td>
								<td><a href={% url 'tag' '社会学' 1 %}>社会学</a></td>
								<td><a href={% url 'tag' '艺术' 1 %}>艺术</a></td>
								<td><a href={% url 'tag' '设计' 1 %}>设计</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '社会' 1 %}>社会</a></td>
								<td><a href={% url 'tag' '政治' 1 %}>政治</a></td>
								<td><a href={% url 'tag' '建筑' 1 %}>建筑</a></td>
								<td><a href={% url 'tag' '宗教' 1 %}>宗教</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '电影' 1 %}>电影</a></td>
								<td><a href={% url 'tag' '数学' 1 %}>数学</a></td>
								<td><a href={% url 'tag' '政治学' 1 %}>政治学</a></td>
								<td><a href={% url 'tag' '回忆录' 1 %}>回忆录</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '思想' 1 %}>思想</a></td>
								<td><a href={% url 'tag' '中国历史' 1 %}>中国历史</a></td>
								<td><a href={% url 'tag' '国学' 1 %}>国学</a></td>
								<td><a href={% url 'tag' '音乐' 1 %}>音乐</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '人文' 1 %}>人文</a></td>
								<td><a href={% url 'tag' '人物传记' 1 %}>人物传记</a></td>
								<td><a href={% url 'tag' '戏剧' 1 %}>戏剧</a></td>
								<td><a href={% url 'tag' '绘画' 1 %}>绘画</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '艺术史' 1 %}>艺术史</a></td>
								<td><a href={% url 'tag' '佛教' 1 %}>佛教</a></td>
								<td><a href={% url 'tag' '军事' 1 %}>军事</a></td>
								<td><a href={% url 'tag' '西方哲学' 1 %}>西方哲学</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '近代史' 1 %}>近代史</a></td>
								<td><a href={% url 'tag' '二战' 1 %}>二战</a></td>
								<td><a href={% url 'tag' '考古' 1 %}>考古</a></td>
								<td><a href={% url 'tag' '自由主义' 1 %}>自由主义</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '美术' 1 %}>美术</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<h4>生活 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '爱情' 1 %}>爱情</a></td>
								<td><a href={% url 'tag' '旅行' 1 %}>旅行</a></td>
								<td><a href={% url 'tag' '生活' 1 %}>生活</a></td>
								<td><a href={% url 'tag' '成长' 1 %}>成长</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '励志' 1 %}>励志</a></td>
								<td><a href={% url 'tag' '心理' 1 %}>心理</a></td>
								<td><a href={% url 'tag' '摄影' 1 %}>摄影</a></td>
								<td><a href={% url 'tag' '女性' 1 %}>女性</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '职场' 1 %}>职场</a></td>
								<td><a href={% url 'tag' '美食' 1 %}>美食</a></td>
								<td><a href={% url 'tag' '教育' 1 %}>教育</a></td>
								<td><a href={% url 'tag' '游记' 1 %}>游记</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '灵修' 1 %}>灵修</a></td>
								<td><a href={% url 'tag' '健康' 1 %}>健康</a></td>
								<td><a href={% url 'tag' '情感' 1 %}>情感</a></td>
								<td><a href={% url 'tag' '手工' 1 %}>手工</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '两性' 1 %}>两性</a></td>
								<td><a href={% url 'tag' '养生' 1 %}>养生</a></td>
								<td><a href={% url 'tag' '人际关系' 1 %}>人际关系</a></td>
								<td><a href={% url 'tag' '家居' 1 %}>家居</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '自助游' 1 %}>自助游</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<h4>经管 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '经济学' 1 %}>经济学</a></td>
								<td><a href={% url 'tag' '管理' 1 %}>管理</a></td>
								<td><a href={% url 'tag' '经济' 1 %}>经济</a></td>
								<td><a href={% url 'tag' '商业' 1 %}>商业</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '金融' 1 %}>金融</a></td>
								<td><a href={% url 'tag' '投资' 1 %}>投资</a></td>
								<td><a href={% url 'tag' '营销' 1 %}>营销</a></td>
								<td><a href={% url 'tag' '创业' 1 %}>创业</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '理财' 1 %}>理财</a></td>
								<td><a href={% url 'tag' '广告' 1 %}>广告</a></td>
								<td><a href={% url 'tag' '股票' 1 %}>股票</a></td>
								<td><a href={% url 'tag' '企业史' 1 %}>企业史</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '策划' 1 %}>策划</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<h4>科技 · · · · · · </h4>
					<table>
						<tbody>
							<tr>
								<td><a href={% url 'tag' '科普' 1 %}>科普</a></td>
								<td><a href={% url 'tag' '互联网' 1 %}>互联网</a></td>
								<td><a href={% url 'tag' '编程' 1 %}>编程</a></td>
								<td><a href={% url 'tag' '科学' 1 %}>科学</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '交互设计' 1 %}>交互设计</a></td>
								<td><a href={% url 'tag' '用户体验' 1 %}>用户体验</a></td>
								<td><a href={% url 'tag' '算法' 1 %}>算法</a></td>
								<td><a href={% url 'tag' 'web' 1 %}>web</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' '科技' 1 %}>科技</a></td>
								<td><a href={% url 'tag' 'UE' 1 %}>UE</a></td>
								<td><a href={% url 'tag' '通信' 1 %}>通信</a></td>
								<td><a href={% url 'tag' '交互' 1 %}>交互</a></td>
							</tr>
							<tr>
								<td><a href={% url 'tag' 'UCD' 1 %}>UCD</a></td>
								<td><a href={% url 'tag' '神经网络' 1 %}>神经网络</a></td>
								<td><a href={% url 'tag' '程序' 1 %}>程序</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
	{% include 'include/footer.html' %}
</body>

</html>
