<!DOCTYPE html>
<html lang="zh-CN">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/book.css' %}">
	<title>{{ book.book_name }}</title>
</head>

<body>
{% include 'include/navbar.html' %}
<div class="row blank"></div>
<div class="row book_title">
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<span>{{ book.book_name }}</span>
	</div>
</div>
<div class="row book_infomation">
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<div class="col-lg-2 book_cover">
			<img class=" img-thumbnail" src="../../static/image/book/cover/{{ book.book_id }}.jpg"
					 alt="{{ book.book_name }}"
					 title="{{ book.book_name }}">
		</div>
		<div class="col-lg-3 book_info">
			<div class="row info">
				<div class="col-lg-3 info_left">作者:</div>
				<a href={% url 'author' book.author_id %}>
					<div class="col-lg-9 info_right">{{ book.author_name }}</div>
				</a>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">出版社:</div>
				<div class="col-lg-9 info_right">{{ book.press_house }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">译者:</div>
				<div class="col-lg-9 info_right">{{ book.translator }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">出版年:</div>
				<div class="col-lg-9 info_right">{{ book.publication_date }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">页数:</div>
				<div class="col-lg-9 info_right">{{ book.pages }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">定价:</div>
				<div class="col-lg-9 info_right">{{ book.price }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">装帧:</div>
				<div class="col-lg-9 info_right">{{ book.package }}</div>
			</div>
			<div class="row info">
				<div class="col-lg-3 info_left">ISBN:</div>
				<div class="col-lg-9 info_right">{{ book.isbn }}</div>
			</div>
		</div>
		<div class="col-lg-4 book_score">
			<div style="margin-left: -100px;">
				<div class="score_title">
					综合评分
				</div>
				<div class="score">
                    {{ book_score }}
				</div>
				<h4>
						{{ evaluate_num }}人评分
				</h4>
				<h4>
					{% if collect_num %}
						{{ collect_num }}人收藏
					{% else %}
						0人收藏
					{% endif %}
				</h4>
			</div>
			<div class="row my_score">
				<div class="col-lg-3 my_score_title">
					我的评分
				</div>
				<div class="col-lg-8 star">
					<div id="starttwo" class="block clearfix">
						<div class="star_score"></div>
					</div>
				</div>
			</div>
			<div class="row is_colleciton">
				{% if collection %}
					<div class="col-lg-4 my_colleciton_title">
						已收藏
					</div>
					<div class="col-lg-2 star_list">
						<span class="single_star_click"></span>
					</div>
				{% else %}
					<div class="col-lg-4 my_colleciton_title">
						收藏此书
					</div>
					<div class="col-lg-2 star_list">
						<a class="single_star" href={% url 'addbookcollection' book.book_id %}></a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

</div>
<div class="row book_introduction">
	<div class="col-lg-2"></div>
	<div class="col-lg-7">
		<div class="book_introduction_title">
			内容简介 &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
		</div>
		<div>
			<p>
				{{ book.content_summary|truncatechars:"270" }}
			</p>
		</div>
	</div>
	<div class="col-lg-3"></div>
</div>
<div class="row author_introduction">
	<div class="col-lg-2"></div>
	<div class="col-lg-7">
		<div class="author_introduction_title">
			作者简介 &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
		</div>
		<div>
			<p>
				{{ author.author_summary }}
			</p>
		</div>
	</div>
</div>
<div class="row short_reviews">
	<div class="col-lg-2"></div>
	<div class="col-lg-7">
		<div class="short_reviews_title">
			短评 &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
		</div>
		{% if book_evaluates %}
			{% for book_evaluate in book_evaluates %}
				<div class="row short_review">
					<div class="row short_review_info">
					<span class="short_review_user">
						{{ book_evaluate.user_name }}
					</span>
						<span class="short_review_time">
						{{ book_evaluate.create_date }}
					</span>
					</div>
					<div class="row short_review_content">
						<p>{{ book_evaluate.content|truncatechars:'50' }}</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<p>暂无短评</p>
		{% endif %}
		<form method="post" role="form" style="margin-top: 10px" action={% url 'evaluate' %}>
			<div class="input-group">
				{{ evaluate_form.evaluate }}
				<label for="evaluate" class="sr-only"></label>
				<input type="hidden" id="book_id" name="book_id" value="{{ book.book_id }}">
				<label for="book_id" class="sr-only"></label>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span>提交</span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="row notes">
	<div class="col-lg-2"></div>
	<div class="col-lg-7">
		<div class="short_reviews_title">
			读书笔记 &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
		</div>
		{% if book_notes %}
			{% for book_note in book_notes %}

				<div class="row note_top">
					<div class="col-lg-10 note_title">
						<a href={% url 'note' book_note.note_id %}>
							<h4>
								<strong>
									{{ book_note.title }}
								</strong>
							</h4>
						</a>
					</div>
					<div class="col-lg-2 note_time">{{ book_note.create_date }}</div>
				</div>
				<div class="note_content">
					<p>
						{{ book_note.content|truncatechars:'500' }}
					</p>
				</div>
			{% endfor %}
		{% else %}
			<p>暂无读书笔记</p>
		{% endif %}
		<form method="post" role="form" style="margin-top: 10px" action={% url 'addnote' %}>
			<label for="book_id" class="sr-only"></label>
			<input type="hidden" id="book_id" name="book_id" value="{{ book.book_id }}">
			<button type="submit" class="btn btn-default btn-group-lg btn-info">写读书笔记</button>
		</form>
	</div>
</div>
{% include 'include/footer.html' %}
<script type="text/javascript" src={% static 'js/startScore.js' %}></script>
<script>
    scoreFun($("#startone"))
    scoreFun($("#starttwo"), {
        fen_d: 22, //每一个a的宽度
        ScoreGrade: 5 //a的个数 10或者
    })
</script>
</body>

</html>
