<!-- <!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<title>表单测试</title>
	<style>
		.top {
			height: 30px;
		}

		.welcome {
			height: 100px;
			text-align: center;
			font-family: HYMiaoHunTiW, Helvetica, Arial, sans-serif, serif;
			font-size: 50px;
			color: white;
		}

		.middle {
			height: 500px;
			text-align: center;
		}

		.a {
			padding-left: 100px;
			padding-right: 100px;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top"></div>
		</div>

		<div class="row">
			<div class="col-lg-4 welcome"></div>
			<div class="col-lg-4 welcome">表单测试</div>
			<div class="col-lg-4 welcome"></div>
		</div>

		<div class="row">
			<div class="col-lg-4 middle"></div>

			<div class="col-lg-4 middle m">
				<form method="post" class="form-horizontal" role="form">
					<div class="form-group a">

						<div class="input-prepend input-group">
							<span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
							<label for="username" class="sr-only"></label>
							<input type="text" class="form-control" id="username" placeholder="输入用户名">
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-default btn-group-lg">注册</button>
					</div>

				</form>
			</div>
			<div class="col-lg-4 middle"></div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.main.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/distpicker.data.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/distpicker.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/main.js"></script>

</body>

</html> -->
<html>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<body>
	{{ form.name_of_field }}
		<input type="submit" value="Submit" />
	</form>
</body>


</html>
