<!DOCTYPE html>
<html lang="zh-CN">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/note.css' %}">
	<title>{{ note.title }}</title>
</head>

<body>
{% include 'include/navbar.html' %}
<div class="row blank"></div>
<div class="row" style="margin-top:-25px">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<h3><strong class="note_title">{{ note.title }}</strong></h3>
		<p>{{ note.content }}</p>
		<div class="row note_info"><h4>{{ note.user_name }}</h4></div>
		<div class="row note_info"><h5>{{ note.create_date }}</h5></div>
	</div>

<div class="col-lg-3"></div>
</div>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-3">
		<a href="#" onclick="history.go(-1);">
		<button class="btn btn-default btn-group-lg">返回</button>
	</a>
	</div>
</div>
{% include 'include/footer.html' %}
</body>

</html>
