<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/css/daterangepicker-bs3.css">
    <script type="text/javascript" src="../static/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/moment.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/daterangepicker.js"></script>
    <title>register</title>
    <style>
        .top {
            height: 30px;
        }

        .welcome {
            height: 100px;
            text-align: center;
            font-family: 微软雅黑;
            font-size: 40px;
        }

        .c_form {
            height: 500px;
            text-align: center;
        }

        .c_sex {
            width: 50px;
        }

        .c_time {
            margin: 15px auto 15px auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 top"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 welcome"></div>
            <div class="col-lg-4 welcome">欢迎注册图书管理系统</div>
            <div class="col-lg-4 welcome"></div>
        </div>
        <div class="row">
            <div class="col-lg-5 c_form"></div>
            <div class="col-lg-2 c_form">
                <form role="form-horizontal">
                    <div class="form-group">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                            <label for="username" class="sr-only"></label>
                            <input type="text" class="form-control" id="username" placeholder="输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-eye-close"></i>
                          </span>
                            <label for="password" class="sr-only"></label>
                            <input type="password" class="form-control" id="password" placeholder="输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                              <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                            <label for="tel" class="sr-only"></label>
                            <input type="text" class="form-control" id="tel" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                              <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <label for="email" class="sr-only"></label>
                            <input type="email" class="form-control" id="email" placeholder="输入邮箱">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default c_sex" value="1">男</button>
                        <button type="button" class="btn btn-default c_sex" value="2">女</button>
                        <button type="button" class="btn btn-default c_sex" value="0">其他</button>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend input-group c_time">
                                <span class="add-on input-group-addon">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input type="text" class="form-control" name="birthday" id="birthday" placeholder="选择生日">
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#birthday').daterangepicker({
                                singleDatePicker: true
                            }, function(start, end, label) {
                                console.log(start.toISOString(), end.toISOString(), label);
                            });
                        });
                    </script>
                    <div class="form-group">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </span>
                            <label for="username" class="sr-only"></label>
                            <input type="text" class="form-control" id="username" placeholder="一句话介绍自己">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-group-lg">注册</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 c_form"></div>
        </div>
    </div>
</body>

</html>
