<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datetimepicker.css">

	<title>register</title>
	<style>
		body {
			background-image: url(../static/image/background/6.png);
			background-size: cover;
		}

		.top {
			height: 30px;
		}

		.welcome {
			height: 100px;
			text-align: center;
			font-family: HYMiaoHunTiW, Helvetica, Arial, sans-serif, serif;
			font-size: 50px;
			color: white;
		}

		.middle {
			height: 500px;
			text-align: center;
		}

		.sex {
			margin-bottom: 10px;
		}

		.a {
			padding-left: 100px;
			padding-right: 100px;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 welcome"></div>
			<div class="col-lg-4 welcome">欢迎注册图书管理系统</div>
			<div class="col-lg-4 welcome"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 middle"></div>
			<div class="col-lg-4 middle m">
				<h1>test button</h1>
			</div>
			<div class="col-lg-4 middle"></div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.main.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/distpicker.data.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/distpicker.js"></script>
	<script type="text/javascript" src="../static/js/distpicker/main.js"></script>

</body>

</html>
