<nav class="navbar navbar-default navbar-fixed-top top" role="navigation">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-6">
			<div class="container-fluid">
				<a class="navbar-brand" href={% url 'index' %}>图书管理系统</a>
				<form class="navbar-form navbar-left" role="search">
					<label for="screach" class="sr-only"></label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="输入你感兴趣的东西">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
					</div>
				</form>
				<ul class="nav navbar-nav">
					<li><a href={% url 'index' %}>首页</a></li>
					<li><a href="#">发现</a></li>
					<li><a href="#">预留</a></li>
					<li><a href="#">预留</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4">
			<ul class=" nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" style="padding-top: 8px;padding-bottom: 3px;" data-toggle="dropdown">
						<img alt="username" width="35" height="35" src="../../static/image/avatar/hd/{{ avatar }}.jpg" class="img-circle" style="">
						<span class="name">{{user.user_name}}</span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href={% url 'user' %}>我的主页</a></li>
						<li><a href="#">设置</a></li>
						<li><a href={% url 'logout' %}>退出</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
