.reload{
    margin-top: 10px;
}
.reload.a:hover {
    color: white;
}
.book{
    height: 280px;
}
.author,.note {
    height: 180px;
}

.book_introduction{
 margin-top: 20px;
    height: 180px;
 }
.book_title{
    margin-left: 0;
}