.top {
    background-image: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
}

.name {
    margin-left: 10px;
    font-size: 16px;
}

.avatar {
    padding-top: 5px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-image: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
}

.dropdown-menu {
    background-color: #095fb3;
}

.dropdown-menu>li>a {
    color: #ffffff;
    background-color: #095fb3;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #095fb3;
}

a:hover {
    background-color: #3377aa;
    color: white;
    text-decoration: none;
}

.blank {
    height: 70px;
}

footer {
    color: #999;
    margin-top: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border-top: 1px dashed;
}
