a:hover {
    color:#3377aa;
    text-decoration: none;
}
.result_info {
    border-bottom: dashed 1px #ddd;
    height: 240px;
    margin-bottom: 10px;
}

.book_cover {
    margin-top: 5px;
    height: 200px;
    padding-top: 0;
    padding-left: 0;
}

.book_info {
    margin-top: 5px;
    margin-left: -30px;
}

.info_left, .info_right {
    height: 25px;
    padding-left: 0;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

.info_left {
    padding-right: 0;
    color: #666666;
}

.info_right {
    margin-left: -15px;
}

.book_score {
    height: 260px;
    border-left: 1px solid #eaeaea;
    text-align: center;
}

.score_title {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.score {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}
.img-thumbnail {
    height: 220px;
    width: 155px;
}