.top {
    background-image: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
  }

  .navbar-default .navbar-brand {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-image: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
  }

  .dropdown-menu {
    background-color: #095fb3;
  }

  .dropdown-menu>li>a {
    color: #ffffff;
    background-color: #095fb3;
  }

  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #095fb3;
  }

  .name {
    margin-left: 5px;
  }

  .blank {
    height: 70px;
  }

  .img-thumbnail {
    height: 200px;
    width: 200px;
  }

  .img {
    height: 200px;
    width: 200px;
    padding: 0;
    margin-right: 10px;
  }

  .userinfo {
    height: 200px;
    font-family: 微软雅黑, sans-serif;
    color: #404040;
  }

  .userinfo_top {
    font-family: 微软雅黑, sans-serif;
    margin-bottom: 10px;
  }

  .username {
    font-size: 26px;
    color: black;
  }

  .remark {
    height: 40px;
    font-size: 18px;
    padding-top: 12px;
  }

  .other_info {
    height: 32px;
    font-size: 16px;
  }
